tools/n8n_templates/webhook_to_multi_step.json
{
  "name": "{WORKFLOW_NAME}",
  "active": false,
  "nodes": [
    {
      "id": "00000000-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "{WEBHOOK_PATH}",
        "responseMode": "lastNode",
        "responseData": "allEntries"
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000002",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300],
      "parameters": {
        "method": "{HTTP_METHOD}",
        "url": "{TARGET_URL}",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}"
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000003",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "00000000-0000-0000-0000-000000000010",
              "name": "{FIELD_NAME}",
              "value": "{FIELD_VALUE}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
